
<div style="width: 100%; margin-top: -15%;">
  <div style="margin-top: 30%; margin-left: 28%;">
    <input onkeyup="search_users(event)" class="form-control mr-sm-2" type="search" placeholder="Search users" aria-label="Search" style="width: 700px;">
    <div id='users_list' style="position:absolute;"></div>
  </div>
</div>
